/*do not make changes to this file. It will be overwritten by the css editor. Put theme changes in custom.css*/

.container .navbar-nav li.active a:hover  {background-color: #544089;}
.container .navbar-nav li.active a:focus  {background-color: #544089;}
.navbar-default .navbar-nav .open > a  {background-color: #544089;}
.navbar-default .navbar-nav .open > a:hover  {background-color: #544089;}
.navbar-default .navbar-nav .open > a:focus  {background-color: #544089;}
.navbar-nav li.dropdown li > a:hover  {background-color: #544089;}
.navbar-nav li.dropdown li > a:focus  {background-color: #544089;}
.navbar .container .navbar-nav li.active .fa-caret-down  {color: #544089;}
.navbar-nav li.dropdown li > a  {color: #333333; min-width:160px;}
.navbar-nav li.dropdown li > a:hover  {color: #FFFFFF;}
.navbar .container .navbar-nav.pull-right li a i:first-of-type  {border-color: #FFFFFF;}
.badge  {background-color: #FFFFFF;}
.badge  {color: #000000;}
.navbar-default  {background-color: #312a6e;}
.container .navbar-nav li a  {color: #FFFFFF;}
.container .navbar-nav li.active > a  {background-color: #544089;}
.container .navbar-nav li.active > a  {color: #FFFFFF;}
.navbar-default, .dropdown-mega  {border-color: #FFFFFF;}
body  {background-color: #FFFFFF;}
body  {color: #333333;}
.text-primary  {color:#312A6E;}
.text-info  {color: #31708F;}
body a, body a:hover, body a:focus  {color: #68549D;}
.btn-primary  {background-color: #312A6E;}
.btn-primary, .btn-primary:hover  {color: #FFFFFF;}
.btn-primary  {border-color: #312A6E;}
.btn-primary:hover  {background-color: #312A6E;}
.btn-default  {background-color: #FFFFFF;}
.btn-default, .btn-default:hover  {color: #333333;}
.btn-default  {border-color: #CCCCCC;}
.btn-default:hover  {background-color: #EBEBEB;}
.btn-info  {background-color: #5BC0DE;}
.btn-info, .btn-info:hover  {color: #FFFFFF;}
.btn-info  {border-color: #4e3f88;}
.btn-info:hover  {background-color: #39B3D7;}
.btn-success  {background-color: #88B236;}
.btn-success, .btn-success:hover  {color: #FFFFFF;}
.btn-success  {border-color: #88B236;}
.btn-success:hover  {background-color: #88B236;}
.btn-warning  {background-color: #ddd;}
.btn-warning, .btn-warning:hover  {color: #525252;}
.btn-warning  {border-color: #ddd;}
.btn-warning:hover  {background-color: #ddd;}
.btn-danger  {background-color: #777;}
.btn-danger, .btn-danger:hover  {color: #FFFFFF;}
.btn-danger  {border-color: #777;}
.btn-danger:hover  {background-color: #777;}
.jumbotron  {background-color: #68549d;}
h2 .jumbotron  {color: #333333;}
.panel-primary .panel-heading .panel-title  {background-color: #0C2A3A;}
.panel-primary .panel-heading .panel-title  {color: #FFFFFF;}
.panel-default .panel-heading .panel-title  {background-color: #F5F5F5;}
.panel-default .panel-heading .panel-title  {color: #333333;}
.panel  {background-color: #FFFFFF;}
.panel-footer  {background-color: #F5F5F5;}
.panel-category-list .well  {background-color: #FFFFFF;}
.panel-category-list .well h5  {color: #333333;}
.panel-category-list .well  {border-color: #F0F0F0;}
.panel-product-list .well  {background-color: #f5f5f5;}
.panel-product-list .well  {color: #333333;}
.panel-product-list .well  {border-color: #F0F0F0;}