<section class="FAQ-wrapper col-xs-12 col-md-10 col-md-offset-1">
    <div>
        <h3><strong>FAQ/STORE POLICY</strong></h3>
        <p> Welcome to the Puppet Labs Shop! </p>
        <h4>Shipping Locations</h4>
        <p> We ship items via UPS, domestically and internationally. (May vary for some international orders.) UPS does not deliver to PO Boxes. We also offer flat rate USPS shipping rates. Domestic Orders-please note average delivery time is 7-10 business days. </p>
        <h4>Shipping Costs</h4>
        <p>
            Shipping costs depend on the size and weight of your order. Please refer to the details within your shopping cart while making an order.
            <br>
            <br>
            For International orders - the USPS shipping method does not include import or customs taxes if applicable. This is a common occurrence for international orders and unfortunately, we have no control over these fees or payment method.
            <br>
            <br>
            If you are interested in placing a bulk order for your team/company, please contact us at
            <a href="mailto:shop@puppetlabs.com">shop@puppetlabs.com</a>
            and we will work with you on a negotiated rate.
        </p>
        <h4>Payment Methods</h4>
        <p>
            We accept:
            <img src="css/images/CreditCardIcons/Visa.png" style="display: inline; height: 36px;">
            <img src="css/images/CreditCardIcons/MasterCard.png" style="display: inline; height: 36px;">
            <img src="css/images/CreditCardIcons/AmericanExpress.png" style="display: inline; height: 36px;">
        </p>
        <h4>Returns & Exchanges</h4>
        <p>
            We want you to love your Puppet gear. If an item doesn’t fit, we’ll gladly exchange it for another size. Just send it back to us with a note about the size you’d prefer:
            <br>
            <br>
            Attn: Tricor/Puppet Returns
            <br>
            7931 NE Halsey St
            <br>
            Suite 101
            <br>
            Portland, OR 97213
            <br>
            <br>
            We're not able to refund payments on orders, but if you're not satisfied for any reason, please let us know.
        </p>
        <h4>Delivery Tracking</h4>
        <p>
            Unfortunately, this is not an automatic process. If you would like tracking information sent to you, please email
            <a href="mailto:shop@puppetlabs.com">shop@puppetlabs.com</a>
            , please include your order #.
        </p>
        <h4>Privacy Policy</h4>
        <p> We respect your privacy and will not share your personal details with anyone. </p>
        <h4>Any other questions?</h4>
        <p>
            Just email us at
            <a href="mailto:shop@puppetlabs.com">shop@puppetlabs.com</a>
            — we’re happy to help.
        </p>
        <p style="font-size: 16px;"> We hope you love your Puppet gear! Please share feedback on your shopping experience, requests for future store items, and anything else you’d like us to know. </p>
</section>