<header class="header navbar navbar-inner hidden-md hidden-lg">
    <nav class="navbar navbar-hamburger" role="navigation">
        <div ng-init="isCollapsed = true">
            <a ng-click="isCollapsed = !isCollapsed" ng-class="{'active': !isCollapsed, '': isCollapsed}">
                <span><i class="fa fa-th-list"></i></span>
            </a>
        </div>
    </nav>
    <div class="col-xs-12 col-collapse" collapse="isCollapsed">
        <ul class="burgers">
                    <li>
                        <a id="451qa_order_link" href="//puppetlabs.com" target="_blank">
                            <span>{{'Home' | r | xlat}}</span>
                        </a>
                    </li>
                    <li>
                        <a id="451qa_order_link" href="https://forge.puppetlabs.com" target="_blank">
                            <span>{{'Forge' | r | xlat}}</span>
                        </a>
                    </li>
                    <li>
                        <a id="451qa_order_link" href="//docs.puppetlabs.com" target="_blank">
                            <span>{{'Docs' | r | xlat}}</span>
                        </a>
                    </li>
                    <li>
                        <a id="451qa_order_link" href="https://learn.puppetlabs.com" target="_blank">
                            <span>{{'Learn' | r | xlat}}</span>
                        </a>
                    </li>
        </ul>
    </div>
</header>