<header class="header navbar navbar-inner hidden-xs hidden-sm">
    <nav class="navbar navbar-default" style="border-bottom: 3px solid #2f2f2e;" role="navigation" headroom>
        <section>
            <div class="container">
                <ul class="nav navbar-nav pull-left">
                    <li style="padding-left:370px;">
                        <a id="451qa_order_link" href="//puppetlabs.com" target="_blank">
                            <span>{{'Home' | r | xlat}}</span>
                        </a>
                    </li>
                    <li>
                        <a id="451qa_order_link" href="https://forge.puppetlabs.com" target="_blank">
                            <span>{{'Forge' | r | xlat}}</span>
                        </a>
                    </li>
                    <li>
                        <a id="451qa_order_link" href="//docs.puppetlabs.com" target="_blank">
                            <span>{{'Docs' | r | xlat}}</span>
                        </a>
                    </li>
                    <li>
                        <a id="451qa_order_link" href="https://learn.puppetlabs.com" target="_blank">
                            <span>{{'Learn' | r | xlat}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </nav>
</header>